
.app-root {
	width: 100%;
	height: 100%;
}




.editor-layout {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.editor-layout .columns {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	flex: 1 1 100%;
}

.editor-layout .column {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
	flex: 1 0 0;
	width: 0;
}

.editor-layout .column.left {}

.editor-layout .column.left div.preview {
	flex: 0 0 50%;
}
.editor-layout .column.left div.editor {
	flex: 1 1 auto;
}

.editor-layout .column.right {}

.editor-layout .column.right div.editor {
	flex: 1 1 auto;
}






header.global {
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: stretch;
	height: 40px;
	border-bottom: 1px solid hsl(0, 0%, 90%);
	background: hsl(0, 0%, 95%);
}

header.global button.primary {
	position: relative;
	display: flex;
	flex: 0 0 auto;
	padding: 0 20px;
	border: none;
	background: none;
	font: 18px/1.2 sans-serif;
	outline: none;
}

header.global button.primary:not(.is-active):hover {
	background: hsla(215, 0%, 50%, 0.1);
	cursor: pointer;
}

header.global button.primary:not(.is-active):hover::after {
	left: 0;
	right: 0;
	border-bottom-color: hsl(215, 0%, 80%);
}

header.global button.primary.is-active::after {
	border-bottom-color: hsl(207, 90%, 54%);
}

header.global button.primary::after {
	position: absolute;
	left: .4em;
	right: .4em;
	bottom: 0;
	content: '';
	border-bottom: 3px solid transparent;
}





.app-root .react-notification-center {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	flex: 0 0 40px;
}

.app-root .react-notification-center .r-notifications-icon {
	position: static;;
	overflow: visible;
}

.app-root .react-notification-center .r-notifications-icon::after {
	position: absolute;
	top: -12px;
	left: -12px;
	right: -12px;
	bottom: -12px;
	content: '';
	border-radius: 100%;
}

.app-root .react-notification-center .r-notifications-icon.active {
	top: 14px;
	left: 14px;
}

.app-root .react-notification-center .rr-wrapper.left {
	top: 45px;
	left: 20px;
	box-shadow: 3px 3px 20px hsla(0, 0%, 0%, 0.2);
}

.app-root .react-notification-center .rr-wrapper::before {
	left: 0px;
	border-left: none;
}

.app-root .react-notification-center .rr-wrapper.left,
.app-root .react-notification-center .rr-wrapper.left .notification-holder,
.app-root .react-notification-center .rr-wrapper.left .rn-header {
	border-top-left-radius: 0;
}




.app-init {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font: 20px/1.3 sans-serif;
}
